<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Memo Create</title>
</head>
<body>
<form method="post" action="{% url 'memo:memo_create' %}">
  {% csrf_token %}
  <table>
    <tbody>
    <tr>
      <th><label for="title">タイトル:</label></th>
      <td><input type="text" name="title" maxlength="255" required id="title" kl_vkbd_parsed="true"></td>
    </tr>
    <tr>
      <th><label for="content">本文:</label></th>
      <td><textarea name="content" cols="40" rows="10" id="content"></textarea></td>
    </tr>
    <tr>
      <th><label for="tags">タグ:</label></th>
      <td><select name="tags" multiple>
        {% for tag in tag_list %}
        <option value="{{ tag.pk }}">{{ tag.name }}</option>
        {% endfor %}
      </select></td>
    </tr>
    </tbody>
  </table>
  <button type="submit">作成</button>
</form>

<form method="post" action="{% url 'memo:update_add_tag' %}">
  {% csrf_token %}
  <label for="tag_name">新規タグ:</label>
  <input type="text" name="tag_name" maxlength="127" required><button type="submit">作成</button>
</form>
</body>
</html>